name: 'build-test'

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  workflow_dispatch:


permissions:
  id-token: write

jobs:
  build:
    env:
      AWS_REGION: us-west-2
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Use Node.js
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: 'lts/*'
        check-latest: true
        package-manager-cache: pnpm

    - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      name: Install pnpm
      with:
        run_install: |
          - recursive: true
            args: [--no-frozen-lockfile, --strict-peer-dependencies]

    - name: build
      run: pnpm build && pnpm lint && pnpm package

    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708  # v5.1.1
      with:
        role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
        role-session-name: GitHubActions
        aws-region: ${{ env.AWS_REGION }}

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - uses: ./
      id: stack-status
      with:
        stack-name: CDKToolkit

    - name: 'test'
      run: echo ${{ steps.stack-status.outputs.status }}

  test:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: us-west-2
    steps:

    - name: generate timestamp
      id: gen-timestamp
      run: echo "timestamp=$(date +%Y%m%d-%H%M%S)" >> $GITHUB_OUTPUT

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708  # v5.1.1
      with:
        role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
        role-session-name: GitHubActions
        aws-region: ${{ env.AWS_REGION }}

    - name: Use Node.js
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: 24.x
        check-latest: true
        package-manager-cache: false

    - name: Install pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      with:
        run_install: |
          - recursive: true
            args: [--no-frozen-lockfile, --strict-peer-dependencies]
          - args: [--global, aws-cdk]

    - name: create stack
      env:
        TIMESTAMP: ${{ steps.gen-timestamp.outputs.timestamp }}
      working-directory: test
      run: cdk deploy -c timestamp=${TIMESTAMP} -c region=us-east-1

    - uses: ./
      id: stack-status
      with:
        stack-name: aws-cloudformation-stack-status-checker-test-${{ steps.gen-timestamp.outputs.timestamp }}
        region: us-east-1

    - name: 'test'
      run: echo ${{ steps.stack-status.outputs.status }}

    - name: Remove for testing stack
      env:
        TIMESTAMP: ${{ steps.gen-timestamp.outputs.timestamp }}
      working-directory: test
      run: cdk destroy -c name="${TIMESTAMP}" -c region=us-east-1 -f
